extends layout
block content
    .container
        h1 books
        table.table-hover
            thead
                tr
                    each i in bookHead
                        th= i
            tbody
                tr
                    each i in bookArr[0]
                        td= i
                tr
                    each i in bookArr[1]
                        td= i
                tr
                    each i in bookArr[2]
                        td= i
                tr
                    each i in bookArr[3]
                        td= i
                tr
                    each i in bookArr[4]
                        td= i
        h1 employees
        table.table-hover
            thead
                tr
                    each i in employeeHead
                        th= i
            tbody
                tr
                    each i in employeeArr[0]
                        td= i
                tr
                    each i in employeeArr[1]
                        td= i
                tr
                    each i in employeeArr[2]
                        td= i
                tr
                    each i in employeeArr[3]
                        td= i
                tr
                    each i in employeeArr[4]
                        td= i
        h1 transactions
        table.table-hover
            thead
                tr
                    each i in transactionHead
                        th= i
            tbody
                tr
                    each i in transactionArr[0]
                        td= i
                tr
                    each i in transactionArr[1]
                        td= i
                tr
                    each i in transactionArr[2]
                        td= i
                tr
                    each i in transactionArr[3]
                        td= i
                tr
                    each i in transactionArr[4]
                        td= i
                tr
                    each i in transactionArr[5]
                        td= i
                tr
                    each i in transactionArr[6]
                        td= i
                tr
                    each i in transactionArr[7]
                        td= i
                tr
                    each i in transactionArr[8]
                        td= i
                tr
                    each i in transactionArr[9]
                        td= i